services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "8080:8000"
    env_file:
      - ./api/.env
    volumes:
      - ./api:/app
    depends_on:
      - checkpoint-db
      - mongodb
      - mongo-express
      - etcd
      - minio
      - milvus
      - attu

  checkpoint-db:
    image: postgres:16
    container_name: checkpoint-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: checkpoint
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    restart: always
    depends_on:
      - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_BASICAUTH: "false"
    ports:
      - "8081:8081"

  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      ETCD_AUTO_COMPACTION_MODE: revision
      ETCD_AUTO_COMPACTION_RETENTION: "1000"
      ETCD_QUOTA_BACKEND_BYTES: "4294967296"
      ETCD_SNAPSHOT_COUNT: "50000"
    volumes:
      - etcd:/etcd
    command:
      - /usr/local/bin/etcd
      - --data-dir=/etcd
      - --advertise-client-urls=http://127.0.0.1:2379
      - --listen-client-urls=http://0.0.0.0:2379
    ports:
      - "2379:2379"

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2023-09-07T02-05-02Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    command: server /data
    ports:
      - "9000:9000"
    volumes:
      - minio:/data

  milvus:
    container_name: milvus-standalone
    image: milvusdb/milvus:v2.4.6
    depends_on:
      - etcd
      - minio
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      DATA_COORD_ADDRESS: milvus-standalone:19530
    command: ["milvus", "run", "standalone"]
    ports:
      - "19530:19530"   # Milvus gRPC
      - "9091:9091"     # Milvus REST API
    volumes:
      - milvus:/var/lib/milvus
  
  attu:
    container_name: milvus-attu
    image: zilliz/attu:v2.4.6
    environment:
      MILVUS_URL: milvus-standalone:19530
    ports:
      - "8000:3000"
    depends_on:
      - milvus

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  # evaluator:
  #   build:
  #     context: ./evaluation
  #     dockerfile: Dockerfile
  #   container_name: evaluator
  #   restart: always
  #   volumes:
  #     - ./evaluation:/app
  #   depends_on:
  #     - rabbitmq
  #   env_file:
  #     - ./evaluation/.env
  #   environment:
  #     PYTHONUNBUFFERED: 1
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_PORT: 5672
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASSWORD: guest

volumes:
  postgres_data:
  mongo_data:
  etcd:
  minio:
  milvus:
  rabbitmq_data: