services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "8080:8000"
    env_file:
      - ./api/.env
    volumes:
      - ./api:/app
    depends_on:
      - checkpoint-db
      - vector-db
      - mongodb
      - mongo-express

  checkpoint-db:
    image: postgres:16
    container_name: checkpoint-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: checkpoint
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  vector-db:
    image: pgvector/pgvector:pg16
    container_name: vector-db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: vector_db
    ports:
      - "5433:5432"
    volumes:
      - vector_data:/var/lib/postgresql/data

  mongodb:
    image: mongo:6
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: mongo-express
    restart: always
    depends_on:
      - mongodb
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root
      ME_CONFIG_BASICAUTH: "false"
    ports:
      - "8081:8081"

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3-management
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  # evaluator:
  #   build:
  #     context: ./evaluation
  #     dockerfile: Dockerfile
  #   container_name: evaluator
  #   restart: always
  #   volumes:
  #     - ./evaluation:/app
  #   depends_on:
  #     - rabbitmq
  #   env_file:
  #     - ./evaluation/.env
  #   environment:
  #     PYTHONUNBUFFERED: 1
  #     RABBITMQ_HOST: rabbitmq
  #     RABBITMQ_PORT: 5672
  #     RABBITMQ_USER: guest
  #     RABBITMQ_PASSWORD: guest

volumes:
  postgres_data:
  vector_data:
  mongo_data:
  rabbitmq_data: